*{
    box-sizing: border-box;

}
html{
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
.main-content{
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}
 /* ======================Common======================   */
a {
    text-decoration: none ;
}
.btn{
    display: inline-block;
    min-width: 118px;
    padding: 0 16px;
    line-height: 50px;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 24.5px;
    background: #171100;
}
 /* ======================Header======================   */
.header{
    color: #FFFCF4;
}

 .header .body{
    display: flex;
    align-items: center;
    padding: 36px 0 8px;

}

.header.fixed{
    position: sticky;
    top: -28px;
}
.nav ul{
    display: flex;
}
.nav{
    margin-left: auto;
}
.nav a{
    color: #5F5B53;
    font-size: 1.6rem;
    background-color: bisque;
    padding: 8px 21px;
    position: relative;;
}

.nav li.active a, .nav a:hover{
    /* nếu dùng cái này thì khi hover nó sẽ bi giật */
    /* font-weight: 600;    */
    /* thay vào đó ta dùng text-shadow */
    text-shadow: 1px 0 0  currentColor;
    color: #171100;
}
.nav li.active a::after{
    content: "";
    display: block;
    position: absolute;
    left: 21px;
    bottom: 6px;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}
.header .btn_sign_up{
    min-width: 144px;
    margin-left: 49px;
}
